backend/.venv/
backend/__pycache__/
backend/routers/__pycache__/
backend/ml/__pycache__/
backend/alvid.db
backend/ml/modelo_cotizacion.pkl
backend/*.log
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/*.log
